<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>To Do</title>
 
    <!-- Link main CSS file and additional fonts -->
    <link href="{{ plugin_path('PriceMonitorPlentyIntegration') }}/css/main.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Amatic+SC" rel="stylesheet">
 
    <!-- Integrate jQuery -->
    <script src="{{ plugin_path('PriceMonitorPlentyIntegration') }}/js/jquery-3.3.1.min.js"></script>
</head>
 
<body>
   <div class="priceMonitorPrestaMain">
   <div class="tabprestaprice">
        <button class="tablinksprestaprice" onclick="showTabContentContent(event, 'Dashboard')" id="defaultOpen">Global Dashboard</button>
        <button class="tablinksprestaprice" onclick="showTabContentContent(event, 'Contracts')">Contracts</button>
        <button class="tablinksprestaprice" onclick="showTabContentContent(event, 'MyAccount')">My account</button>
    </div>

<div id="Dashboard" class="tabcontentprestaprice">
   <h1 class="title">Welcome to the Pricemonitor</h1><br>
        <span class="text">The Pricemonitor helps you to increase sales by <b>optimizing your selling prices</b> and by providing important market insights</span><br><br>
        <img class="pricemonitor-dashboardimg" src="{{ plugin_path("PriceMonitorPlentyIntegration") }}/images/placeholder.png"><br><br>        

        <span class="text">To transfer your products and receive optimized selling prices it is necessary to connect your Shopware shop with the Pricemonitor by using the configuration under <a href="#" class="contracts">contracts</a>.</span><br><br>
        <span class="text">If you need help or would like to have a personal and individual advisory, please do not hesitate to contact our support team:</span><br><br>
        <ul class="text">
            <li> <a href="http://www.patagona.de" target="_blank">www.patagona.de</a></li>
            <li> +49 (0)6151 8008320</li>
            <li> <a href="mailto:support@patagona.de">support@patagona.de</a></li>
        </ul>
 </div>

    <div id="Contracts" class="tabcontentprestaprice">
        <p>Contracts</p> 
    </div>

    <div id="MyAccount" class="tabcontentprestaprice">  
        <p>My account</p>
    </div>
</div> 
  
<script src="{{ plugin_path('PriceMonitorPlentyIntegration') }}/js/app.js"></script>
</body>
</html>