.pricemonitor-auth {
    margin-top: 15%;
    margin-left: 34%;
}

#loginButton {
    margin-left: 18%;
}

.pricemonitor-main-content {
    margin-top:1%;
    margin-left:2%;
    border : 1px solid #ccc;
    height: 100%;
    width: 95%;
    padding-bottom : 15%;
}
#titlePriceMonitor {
    color: blue;
}

#headerLine {
    font-weight: bold;
}
#buttonLinkForm {
    width: 49%;
}