.pricemonitor-contract-main section {
    display: none;
    padding: 20px 0;
    position: relative;
}

.pricemonitor-contract-main section.visible {
    display: block;
}

.pricemonitor-contract-main section .form-row {
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
    align-items: center;
}

.pricemonitor-contract-main section .form-row label {
    display: block;
    width: 35%;
    padding-right: 10px;
}

.pricemonitor-contract-main section .form-row .input-wrapper {
    position: relative;
    display: block;
    width: 65%;
    white-space: nowrap;
    max-width: 300px;
}

.pricemonitor-contract-main section .form-row .multiple-third {
    display: flex;
    flex-direction: row;
    width: 65%;
    max-width: 300px;
}

.pricemonitor-contract-main section .form-row .multiple-third .input-wrapper {
    padding-right: 10px;
    position: relative;
}

.pricemonitor-contract-main section .form-row .multiple-third .input-wrapper:last-child {
    padding-right: 0;
}

.pricemonitor-contract-main section .form-row .multiple-third .input-wrapper input,
.pricemonitor-contract-main section .form-row .multiple-third .input-wrapper select {
    width: 100%;
}

.input-wrapper input,
.input-wrapper select,
.form-row input,
.form-row select {
    border: 1px solid #a9a9a9;
    height: 20px;
    line-height: 20px;
    color: #2f2f2f;
}

.input-wrapper input,
.form-row input {
    padding-left: 4px;
    padding-right: 4px;
}

.input-wrapper input:disabled,
.input-wrapper select:disabled,
.input-wrapper input[readonly],
.input-wrapper select[readonly] {
    opacity: 0.6;
    background: #ffffff;
}

.pricemonitor-contract-main section .form-row .multiple-third .input-wrapper ul.pricemonitor-filterable-list {
    min-width: 250px;
    width: auto;
}

.pricemonitor-contract-main section .form-row .input-wrapper input,
.pricemonitor-contract-main section .form-row .input-wrapper select {
    width: 90%;
}

.pricemonitor-contract-main section .form-row .input-wrapper input.small-input {
    width: 50%;
}

.pricemonitor-confirmation-modal-text {
    margin-top: 20px;
    margin-bottom: 20px;
}

#pricemonitor-confirm-modal-no {
    margin-left: 5px;
}

.pricemonitor-modal-footer {
    text-align: right;
}

.pricemonitor-no-data {
    background: white;
    padding: 2px;
    text-align: center;
}

.pricemonitor-no-data.hidden {
    display: none;
}

.pricemonitor-transaction-history-details {
    background-image: url("../../../../adminhtml/default/default/images/fam_folder_database.gif");
    width: 16px;
    height: 16px;
    cursor: pointer;
}

.pricemonitor-no-sync-data {
    text-align: center;
}

#pricemonitor-product-export .first-row fieldset {
    min-height: 175px;
}

#pricemonitor-price-import .first-row fieldset {
    min-height: 125px;
}

#pricemonitor-contract-info .first-row fieldset {
    min-height: 220px;
}

#attributes-mapping-custom-tags .form-row {
    margin-bottom: 10px;
}

#attributes-mapping-custom-tags .form-row .filterable-dropdown-wrapper {
    margin: 0 10px;
    position: relative;
}

.filterable-dropdown-wrapper,
.filterable-dropdown-wrapper input {
    font-size: 12px;
}

#attributes-mapping-custom-tags .form-row .remove-custom-tag,
#attributes-mapping-custom-tags .form-row .add-custom-tag {
    width: 30px;
    text-align: center;
    font-size: 16px;
    line-height: 14px;
}

#attributes-mapping-custom-tags .form-row .add-custom-tag {
    line-height: 11px;
    padding-top: 4px;
}

#transaction-history-export-detail .col-sm-6, #transaction-history-export-detail .col-sm-12,
#transaction-history-import-detail .col-sm-6, #transaction-history-import-detail .col-sm-12 {
    padding: 0;
}

.pricemonitor-page button:disabled {
    border-color: #ccc #aaa #aaa #ccc;
    background: #fff none;
    color: #555;
}

.pricemonitor-page #transaction-history-export-detail, .pricemonitor-page #transaction-history-import-detail {
    display: none;
}

.pricemonitor-html-modal #transaction-history-export-detail, .pricemonitor-html-modal #transaction-history-import-detail {
    display: block;
}

.pricemonitor-html-modal fieldset, .pricemonitor-html-modal fieldset {
    margin: 0;
}

textarea#pricemonitor-export-note, textarea#pricemonitor-import-note {
    width: 100%;
    resize: none;
}
#pricemonitor-product-selection-submit,
#pricemonitor-price-selection-submit {
    margin-left: 5px;
}
.pricemonitor-product-selection-single-group,
.pricemonitor-price-selection-single-group {
    margin-bottom: 10px;
}
.pricemonitor-product-selection-single-group h3,
.pricemonitor-price-selection-single-group h3 {
    padding: 5px 8px;
    font-size: 1em;
    line-height: 18px;
    border-radius: 5px 5px 0 0;
    position: relative;
    background: rgba(235, 94, 0, 0.2);
}
.pricemonitor-product-selection-single-group,
.pricemonitor-price-selection-single-group {
    border: 1px solid #eb5e00;
    border-radius: 5px;
    margin-left: -15px;
    margin-right: -15px;
    padding-bottom: 7px;
}
.pricemonitor-product-selection-single-group .form-row,
.pricemonitor-price-selection-single-group .form-row {
    padding-left: 15px;
    padding-right: 15px;
}
.pricemonitor-product-selection-single-group .pricemonitor-product-selectionremove-group,
.pricemonitor-price-selection-single-group .pricemonitor-price-selectionremove-group{
    position: absolute;
    top: 50%;
    right: 8px;
    transform: translateY(-50%);
    background: transparent;
    border: none;
    padding: 0;
    margin: 0;
    color: #253033;
}
.pricemonitor-product-selection-single-group .form-row:nth-child(2),
.pricemonitor-price-selection-single-group .form-row:nth-child(2) {
    justify-content: flex-end;
    padding: 5px 15px;
}
.pricemonitor-product-selection-single-group .form-row:nth-child(2) label,
.pricemonitor-price-selection-single-group .form-row:nth-child(2) label,
.pricemonitor-product-selection-single-group .form-row:nth-child(2) select,
.pricemonitor-price-selection-single-group .form-row:nth-child(2) select{
    width: auto;
    display: inline-block;
}
.pricemonitor-contract-main .pricemonitor-product-selection-single-group .form-row .input-wrapper,
.pricemonitor-contract-main .pricemonitor-price-selection-single-group .form-row .input-wrapper {
    padding-right: 10px;
}
.pricemonitor-contract-main .pricemonitor-product-selection-single-group .form-row .input-wrapper input,
.pricemonitor-contract-main .pricemonitor-price-selection-single-group .form-row .input-wrapper input,
.pricemonitor-contract-main .pricemonitor-product-selection-single-group .form-row .input-wrapper select,
.pricemonitor-contract-main .pricemonitor-price-selection-single-group .form-row .input-wrapper select{
    width: 100%;
}

.pricemonitor-contract-main .pricemonitor-product-selection-single-group .form-row .pricemonitor-product-selection-remove-expression,
.pricemonitor-contract-main .pricemonitor-price-selection-single-group .form-row .pricemonitor-price-selection-remove-expression,
.pricemonitor-contract-main .pricemonitor-product-selection-single-group .form-row .pricemonitor-product-selection-add-expression,
.pricemonitor-contract-main .pricemonitor-price-selection-single-group .form-row .pricemonitor-price-selection-add-expression{
    width: 35px;
    text-align: center;
    font-size: 16px;
    line-height: 14px;
    flex: 0 55px;
    box-sizing: border-box;
    padding-left: 0;
    padding-right: 0;
}
.pricemonitor-contract-main section#pricemonitor-product-selection .form-row .input-wrapper,
.pricemonitor-contract-main section#pricemonitor-price-selection .form-row .input-wrapper {
    max-width: 100%;
}

.pricemonitor-contract-main .pricemonitor-product-selection-single-group .form-row .pricemonitor-product-selection-add-expression,
.pricemonitor-contract-main .pricemonitor-price-selection-single-group .form-row .pricemonitor-price-selection-add-expression {
    line-height: 11px;
    padding-top: 4px;
}

.pricemonitor-filter-groups-wrapper > .form-row:last-child {
    justify-content: flex-end;
    margin-left: -15px;
    margin-right: 0;
}

.popover-wrapper {
    display: inline-block;
    margin-left: 5px;
    vertical-align: top;
    position: relative;
}
.popover-wrapper .popover-text {
    width: 200px;
    white-space: normal;
    text-align: left;
}
.popover-wrapper .popover-button {
    display: inline-block;
    border-radius: 50%;
    height: 19px;
    width: 19px;
    border: 1px solid #a9a9a9;
    line-height: 19px;
    text-align: center;
    color: #a9a9a9;
}
.popover-wrapper .popover-button:hover {
    cursor: help;
}
.popover-wrapper .popover {
    display: none;
    position: absolute;
    background: white;
    padding: 8px;
    border: 1px solid #a9a9a9;
    border-radius: 5px;
    box-shadow: 1px 1px 5px rgba(0,0,0,0.2);
    left: 29px;
    top: -7px;
}

.popover-wrapper .popover:after,
.popover-wrapper .popover:before {
    right: 100%;
    top: 15px;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}

.popover-wrapper .popover:after {
    border-color: rgba(0, 0, 0, 0);
    border-right-color: #ffffff;
    border-width: 6px;
    margin-top: -6px;
}
.popover-wrapper .popover:before {
    border-color: rgba(169, 169, 169, 0);
    border-right-color: #a9a9a9;
    border-width: 7px;
    margin-top: -7px;
}

.popover-wrapper .popover-button:hover + .popover {
    display: block;
    z-index: 10;
}

.select-multi {
    display: none;
    position: absolute;
    top: 20px;
    z-index: 1;
    left: 0;
    right: 5px;
    width: calc(100% - 10px) !important;
}

.select-multi option {
    padding: 2px 7px;
}

.select-multi.visible {
    display: block;
}

.pricemonitor-form-inline input {
    margin-right: 10px;
}

.pricemonitor-form-inline label {
    min-width: 70%;
}

.pricemonitor-header-warning {
    font-weight: bold;
    display: none;
}

.pricemonitor-header-error {
    font-weight: bold;
    display: none;
    color: #ff0000;
}

 section.pricemonitor-attributes-mapping .form-row .input-wrapper.filterable-dropdown-wrapper input {
     width: 100%;
 }

.pricemonitor-header-warning.visible,
.pricemonitor-header-error.visible {
    display: block;
}

.pricemonitor-header-warning .icon,
.pricemonitor-header-error .icon {
    display: inline-block;
    width: 28px;
    height: 28px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    overflow: hidden;
    position: relative;
    vertical-align: middle;
    margin-right: 10px;
    line-height: 22px;
}

.pricemonitor-header-warning .icon:before,
.pricemonitor-header-error .icon:before {
    content: " ";
    display: inline-block;
    position: absolute;
    top: -2px;
    left: -1px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 15px 24px 15px;
    border-color: transparent transparent #000 transparent;
    z-index: 1;
}

.pricemonitor-header-error .icon:before {
    border-color: transparent transparent #ff0000 transparent;
}

.pricemonitor-header-warning .icon:after,
.pricemonitor-header-error .icon:after {
    content: "!";
    display: inline-block;
    position: absolute;
    left: 0;
    top: 2px;
    font-weight: bold;
    width: 100%;
    font-size: 15px;
    text-align: center;
    color: #fff;
    z-index: 2;
}
#pricemonitor-product-selection-filters-preview {
    min-height: 340px;
}
#pricemonitor-product-selection-filters-preview fieldset {
    min-height: 345px;
}
#pricemonitor-product-selection-filters-preview table {
    table-layout: fixed;
}
#pricemonitor-product-selection-filters-preview table tbody td,
#pricemonitor-product-selection-filters-preview table tbody td span {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}