html, body { height: 100%; width: 100%; margin: 0; }

#main, #content {
    height: 100%;
}

.pricemonitor-dashboardimg {
    max-width: 100%;
    width: 100%;
    /* height: 55%;     */
}

#Dashboard {

    height: initial;
}

.tabprestaprice {
    float: left;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
    
    height: 100%;
    
}
/* Style the buttons inside the tab */
.tabprestaprice button {
    display: block;
    background-color: inherit;
    color: black;
    padding: 22px 16px;
    width: 100%;
    border: none;
    outline: none;
    text-align: left;
    cursor: pointer;
    transition: 0.3s;
    font-size: 17px;
}

/* Change background color of buttons on hover */
.tabprestaprice button:hover {
    background-color: #ddd;
}

/* Create an active/current "tab button" class */
.tabprestaprice button.active {
    background-color: blue;
    color:white;
}

/* Style the tab content */
.tabcontentprestaprice {
    float: left;
    padding: 0px 12px;
    border: 1px solid #ccc;
    width: 80%;
    height:100%;
}

.panel {
    padding: 0 18px;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}

.ulAccordation {
   list-style-type: none;
}

.ulAccordation li {
    border: 1px solid  #ccc;
    margin-left: -30%;

}
.secondLevelButton {
    font-size: small !important;
    text-align: center !important;
}

#tabs li a:hover {
    cursor: pointer;
}

.pricemonitor-main-content * {
    box-sizing: border-box;
    font-family: sans-serif;
}

.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}

/* Style the buttons inside the tab */
.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
}

/* Change background color of buttons on hover */
.tab button:hover {
    background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
    background-color: #ccc;
}

.tabcontent {
    display: none;
    padding: 6px 12px;
    /* border: 1px solid #ccc; */
    border-top: none;
}

.priceMonitorPrestaMain {
    height: 100%;
}

#sectionContractInfo {
    margin-top:5%;
}

#groupSubmitContractInfo {
    margin-top:15%;
}

#sectionItemSelection {
    margin-top:5%;
}

/******    */

/* 
.pricemonitor-hidden {
    display: none;
}
.pricemonitor-filter-groups-wrapper .pricemonitor-price-selection-single-group-wrapper:first-child > .form-row select,
.pricemonitor-filter-groups-wrapper .pricemonitor-product-selection-single-group-wrapper:first-child > .form-row select,
.pricemonitor-filter-groups-wrapper .form-row:first-child + .pricemonitor-price-selection-single-group-wrapper > .form-row select,
.pricemonitor-filter-groups-wrapper .form-row:first-child + .pricemonitor-product-selection-single-group-wrapper > .form-row select {
    pointer-events: none;
    visibility: hidden;
    padding: 0;
    margin: 0;
    width: 0;
    height: 0;
    border: none;
    position: absolute;
}



form .form-row :focus {
    border: 1px solid #f77c16;
}

#attributes-mapping-custom-tags .form-row .filterable-dropdown-wrapper {
    margin: 0 10px;
    position: relative;
}

.filterable-dropdown-wrapper,
.filterable-dropdown-wrapper input {
    font-size: 12px;
}

section.pricemonitor-attributes-mapping .form-row .input-wrapper.filterable-dropdown-wrapper input {
    width: 100%;
}

#pricemonitor-product-selection-submit,
#pricemonitor-price-selection-submit {
    margin-left: 5px;
}
.pricemonitor-product-selection-single-group,
.pricemonitor-price-selection-single-group {
    margin-bottom: 10px;
}
.pricemonitor-product-selection-single-group h3,
.pricemonitor-price-selection-single-group h3 {
    padding: 5px 8px;
    font-size: 1em;
    line-height: 18px;
    border-radius: 5px 5px 0 0;
    position: relative;
    background: rgba(235, 94, 0, 0.2);
}
.pricemonitor-product-selection-single-group,
.pricemonitor-price-selection-single-group {
    border: 1px solid #eb5e00;
    border-radius: 5px;
    margin-left: -15px;
    margin-right: -15px;
    padding-bottom: 7px;
}
.pricemonitor-product-selection-single-group .form-row,
.pricemonitor-price-selection-single-group .form-row {
    padding-left: 15px;
    padding-right: 15px;
}
.pricemonitor-product-selection-single-group .pricemonitor-product-selectionremove-group,
.pricemonitor-price-selection-single-group .pricemonitor-price-selectionremove-group{
    position: absolute;
    top: 50%;
    right: 8px;
    transform: translateY(-50%);
    background: transparent;
    border: none;
    padding: 0;
    margin: 0;
    color: #253033;
}
.pricemonitor-product-selection-single-group .form-row:nth-child(2),
.pricemonitor-price-selection-single-group .form-row:nth-child(2) {
    justify-content: flex-end;
    padding: 5px 15px;
}
.pricemonitor-product-selection-single-group .form-row:nth-child(2) label,
.pricemonitor-price-selection-single-group .form-row:nth-child(2) label,
.pricemonitor-product-selection-single-group .form-row:nth-child(2) select,
.pricemonitor-price-selection-single-group .form-row:nth-child(2) select{
    width: auto;
    display: inline-block;
}
.pricemonitor-contract-main .pricemonitor-product-selection-single-group .form-row .input-wrapper,
.pricemonitor-contract-main .pricemonitor-price-selection-single-group .form-row .input-wrapper {
    padding-right: 10px;
}
.pricemonitor-contract-main .pricemonitor-product-selection-single-group .form-row .input-wrapper input,
.pricemonitor-contract-main .pricemonitor-price-selection-single-group .form-row .input-wrapper input,
.pricemonitor-contract-main .pricemonitor-product-selection-single-group .form-row .input-wrapper select,
.pricemonitor-contract-main .pricemonitor-price-selection-single-group .form-row .input-wrapper select{
    width: 100%;
}

.pricemonitor-contract-main .pricemonitor-product-selection-single-group .form-row .pricemonitor-product-selection-remove-expression,
.pricemonitor-contract-main .pricemonitor-price-selection-single-group .form-row .pricemonitor-price-selection-remove-expression,
.pricemonitor-contract-main .pricemonitor-product-selection-single-group .form-row .pricemonitor-product-selection-add-expression,
.pricemonitor-contract-main .pricemonitor-price-selection-single-group .form-row .pricemonitor-price-selection-add-expression{
    width: 35px;
    text-align: center;
    font-size: 16px;
    line-height: 14px;
    flex: 0 55px;
    box-sizing: border-box;
    padding-left: 0;
    padding-right: 0;
}
.pricemonitor-contract-main section#pricemonitor-product-selection .form-row .input-wrapper,
.pricemonitor-contract-main section#pricemonitor-price-selection .form-row .input-wrapper {
    max-width: 100%;
}

.pricemonitor-contract-main .pricemonitor-product-selection-single-group .form-row .pricemonitor-product-selection-add-expression,
.pricemonitor-contract-main .pricemonitor-price-selection-single-group .form-row .pricemonitor-price-selection-add-expression {
    line-height: 11px;
    padding-top: 4px;
}

#pricemonitor-product-selection-filters-preview {
    min-height: 340px;
}
#pricemonitor-product-selection-filters-preview fieldset {
    min-height: 345px;
}
#pricemonitor-product-selection-filters-preview table {
    table-layout: fixed;
}
#pricemonitor-product-selection-filters-preview table tbody td,
#pricemonitor-product-selection-filters-preview table tbody td span {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.pricemonitor-filter-groups-wrapper > .form-row:last-child {
    justify-content: flex-end;
    margin-left: -15px;
    margin-right: 0;
}

.pricemonitor-product-selection-single-group,
.pricemonitor-price-selection-single-group {
    margin-bottom: 10px;
}
.pricemonitor-product-selection-single-group h3,
.pricemonitor-price-selection-single-group h3 {
    padding: 5px 8px;
    font-size: 1em;
    line-height: 18px;
    border-radius: 5px 5px 0 0;
    position: relative;
    background: rgba(235, 94, 0, 0.2);
}
.pricemonitor-product-selection-single-group,
.pricemonitor-price-selection-single-group {
    border: 1px solid #eb5e00;
    border-radius: 5px;
    margin-left: -15px;
    margin-right: -15px;
    padding-bottom: 7px;
}
.pricemonitor-product-selection-single-group .form-row,
.pricemonitor-price-selection-single-group .form-row {
    padding-left: 15px;
    padding-right: 15px;
}
.pricemonitor-product-selection-single-group .pricemonitor-product-selectionremove-group,
.pricemonitor-price-selection-single-group .pricemonitor-price-selectionremove-group{
    position: absolute;
    top: 50%;
    right: 8px;
    transform: translateY(-50%);
    background: transparent;
    border: none;
    padding: 0;
    margin: 0;
    color: #253033;
}
.pricemonitor-product-selection-single-group .form-row:nth-child(2),
.pricemonitor-price-selection-single-group .form-row:nth-child(2) {
    justify-content: flex-end;
    padding: 5px 15px;
}
.pricemonitor-product-selection-single-group .form-row:nth-child(2) label,
.pricemonitor-price-selection-single-group .form-row:nth-child(2) label,
.pricemonitor-product-selection-single-group .form-row:nth-child(2) select,
.pricemonitor-price-selection-single-group .form-row:nth-child(2) select{
    width: auto;
    display: inline-block;
}
.pricemonitor-contract-main .pricemonitor-product-selection-single-group .form-row .input-wrapper,
.pricemonitor-contract-main .pricemonitor-price-selection-single-group .form-row .input-wrapper {
    padding-right: 10px;
}
.pricemonitor-contract-main .pricemonitor-product-selection-single-group .form-row .input-wrapper input,
.pricemonitor-contract-main .pricemonitor-price-selection-single-group .form-row .input-wrapper input,
.pricemonitor-contract-main .pricemonitor-product-selection-single-group .form-row .input-wrapper select,
.pricemonitor-contract-main .pricemonitor-price-selection-single-group .form-row .input-wrapper select{
    width: 100%;
}

.pricemonitor-contract-main .pricemonitor-product-selection-single-group .form-row .pricemonitor-product-selection-remove-expression,
.pricemonitor-contract-main .pricemonitor-price-selection-single-group .form-row .pricemonitor-price-selection-remove-expression,
.pricemonitor-contract-main .pricemonitor-product-selection-single-group .form-row .pricemonitor-product-selection-add-expression,
.pricemonitor-contract-main .pricemonitor-price-selection-single-group .form-row .pricemonitor-price-selection-add-expression{
    width: 35px;
    text-align: center;
    font-size: 16px;
    line-height: 14px;
    flex: 0 55px;
    box-sizing: border-box;
    padding-left: 0;
    padding-right: 0;
}

.pricemonitor-contract-main section#pricemonitor-product-selection .form-row .input-wrapper,
.pricemonitor-contract-main section#pricemonitor-price-selection .form-row .input-wrapper {
    max-width: 100%;
}

.pricemonitor-contract-main .pricemonitor-product-selection-single-group .form-row .pricemonitor-product-selection-add-expression,
.pricemonitor-contract-main .pricemonitor-price-selection-single-group .form-row .pricemonitor-price-selection-add-expression {
    line-height: 11px;
    padding-top: 4px;
}

.pricemonitor-product-selection-single-group .pricemonitor-product-selectionremove-group,
.pricemonitor-price-selection-single-group .pricemonitor-price-selectionremove-group{
    position: absolute;
    top: 50%;
    right: 8px;
    transform: translateY(-50%);
    background: transparent;
    border: none;
    padding: 0;
    margin: 0;
    color: #253033;
}

.pricemonitor-contract-main section .form-row .input-wrapper {
    position: relative;
    display: block;
    width: 65%;
    white-space: nowrap;
    max-width: 300px;
}

.pricemonitor-contract-main section .form-row .multiple-third .input-wrapper {
    padding-right: 10px;
    position: relative;
}

.pricemonitor-contract-main section .form-row .multiple-third .input-wrapper:last-child {
    padding-right: 0;
}

.pricemonitor-contract-main section .form-row .multiple-third .input-wrapper input,
.pricemonitor-contract-main section .form-row .multiple-third .input-wrapper select {
    width: 100%;
}

.input-wrapper input,
.input-wrapper select,
.form-row input,
.form-row select {
    border: 1px solid #a9a9a9;
    height: 20px;
    line-height: 20px;
    color: #2f2f2f;
}

.input-wrapper input,
.form-row input {
    padding-left: 4px;
    padding-right: 4px;
}

.input-wrapper input:disabled,
.input-wrapper select:disabled,
.input-wrapper input[readonly],
.input-wrapper select[readonly] {
    opacity: 0.6;
    background: #ffffff;
}

.pricemonitor-contract-main section .form-row .multiple-third .input-wrapper ul.pricemonitor-filterable-list {
    min-width: 250px;
    width: auto;
}

.pricemonitor-contract-main section .form-row .input-wrapper input,
.pricemonitor-contract-main section .form-row .input-wrapper select {
    width: 90%;
}

.pricemonitor-contract-main section .form-row .input-wrapper input.small-input {
    width: 50%;
}

.pricemonitor-contract-main .pricemonitor-product-selection-single-group .form-row .input-wrapper,
.pricemonitor-contract-main .pricemonitor-price-selection-single-group .form-row .input-wrapper {
    padding-right: 10px;
}
.pricemonitor-contract-main .pricemonitor-product-selection-single-group .form-row .input-wrapper input,
.pricemonitor-contract-main .pricemonitor-price-selection-single-group .form-row .input-wrapper input,
.pricemonitor-contract-main .pricemonitor-product-selection-single-group .form-row .input-wrapper select,
.pricemonitor-contract-main .pricemonitor-price-selection-single-group .form-row .input-wrapper select{
    width: 100%;
}
.pricemonitor-contract-main section#pricemonitor-product-selection .form-row .input-wrapper,
.pricemonitor-contract-main section#pricemonitor-price-selection .form-row .input-wrapper {
    max-width: 100%;
}
section.pricemonitor-attributes-mapping .form-row .input-wrapper.filterable-dropdown-wrapper input {
    width: 100%;
} */



/*****          NOVO                                  */

.pricemonitor-contract-main section {
    display: none;
    padding: 20px 0;
    position: relative;
}

.pricemonitor-contract-main section.visible {
    display: block;
}

.pricemonitor-contract-main section .form-row {
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
    align-items: center;
}

.pricemonitor-contract-main section .form-row label {
    display: block;
    width: 35%;
    padding-right: 10px;
}

.pricemonitor-contract-main section .form-row .input-wrapper {
    position: relative;
    display: block;
    width: 65%;
    white-space: nowrap;
    max-width: 300px;
}

.pricemonitor-contract-main section .form-row .multiple-third {
    display: flex;
    flex-direction: row;
    width: 65%;
    max-width: 300px;
}

.pricemonitor-contract-main section .form-row .multiple-third .input-wrapper {
    padding-right: 10px;
    position: relative;
}

.pricemonitor-contract-main section .form-row .multiple-third .input-wrapper:last-child {
    padding-right: 0;
}

.pricemonitor-contract-main section .form-row .multiple-third .input-wrapper input,
.pricemonitor-contract-main section .form-row .multiple-third .input-wrapper select {
    width: 100%;
}

.input-wrapper input,
.input-wrapper select,
.form-row input,
.form-row select {
    border: 1px solid #a9a9a9;
    height: 20px;
    line-height: 20px;
    color: #2f2f2f;
}

.input-wrapper input,
.form-row input {
    padding-left: 4px;
    padding-right: 4px;
}

.input-wrapper input:disabled,
.input-wrapper select:disabled,
.input-wrapper input[readonly],
.input-wrapper select[readonly] {
    opacity: 0.6;
    background: #ffffff;
}

.pricemonitor-contract-main section .form-row .multiple-third .input-wrapper ul.pricemonitor-filterable-list {
    min-width: 250px;
    width: auto;
}

.pricemonitor-contract-main section .form-row .input-wrapper input,
.pricemonitor-contract-main section .form-row .input-wrapper select {
    width: 90%;
}

.pricemonitor-contract-main section .form-row .input-wrapper input.small-input {
    width: 50%;
}

.pricemonitor-confirmation-modal-text {
    margin-top: 20px;
    margin-bottom: 20px;
}

#pricemonitor-confirm-modal-no {
    margin-left: 5px;
}

.pricemonitor-modal-footer {
    text-align: right;
}

.pricemonitor-no-data {
    background: white;
    padding: 2px;
    text-align: center;
}

.pricemonitor-no-data.hidden {
    display: none;
}

.pricemonitor-transaction-history-details {
    background-image: url("../../../../adminhtml/default/default/images/fam_folder_database.gif");
    width: 16px;
    height: 16px;
    cursor: pointer;
}

.pricemonitor-no-sync-data {
    text-align: center;
}

#pricemonitor-product-export .first-row fieldset {
    min-height: 175px;
}

#pricemonitor-price-import .first-row fieldset {
    min-height: 125px;
}

#pricemonitor-contract-info .first-row fieldset {
    min-height: 220px;
}

#attributes-mapping-custom-tags .form-row {
    margin-bottom: 10px;
}

#attributes-mapping-custom-tags .form-row .filterable-dropdown-wrapper {
    margin: 0 10px;
    position: relative;
}

.filterable-dropdown-wrapper,
.filterable-dropdown-wrapper input {
    font-size: 12px;
}

#attributes-mapping-custom-tags .form-row .remove-custom-tag,
#attributes-mapping-custom-tags .form-row .add-custom-tag {
    width: 30px;
    text-align: center;
    font-size: 16px;
    line-height: 14px;
}

#attributes-mapping-custom-tags .form-row .add-custom-tag {
    line-height: 11px;
    padding-top: 4px;
}

#transaction-history-export-detail .col-sm-6, #transaction-history-export-detail .col-sm-12,
#transaction-history-import-detail .col-sm-6, #transaction-history-import-detail .col-sm-12 {
    padding: 0;
}

.pricemonitor-page button:disabled {
    border-color: #ccc #aaa #aaa #ccc;
    background: #fff none;
    color: #555;
}

.pricemonitor-page #transaction-history-export-detail, .pricemonitor-page #transaction-history-import-detail {
    display: none;
}

.pricemonitor-html-modal #transaction-history-export-detail, .pricemonitor-html-modal #transaction-history-import-detail {
    display: block;
}

.pricemonitor-html-modal fieldset, .pricemonitor-html-modal fieldset {
    margin: 0;
}

textarea#pricemonitor-export-note, textarea#pricemonitor-import-note {
    width: 100%;
    resize: none;
}
#pricemonitor-product-selection-submit,
#pricemonitor-price-selection-submit {
    margin-left: 5px;
}
.pricemonitor-product-selection-single-group,
.pricemonitor-price-selection-single-group {
    margin-bottom: 10px;
}
.pricemonitor-product-selection-single-group h3,
.pricemonitor-price-selection-single-group h3 {
    padding: 5px 8px;
    font-size: 1em;
    line-height: 18px;
    border-radius: 5px 5px 0 0;
    position: relative;
    background: rgba(235, 94, 0, 0.2);
}
.pricemonitor-product-selection-single-group,
.pricemonitor-price-selection-single-group {
    border: 1px solid #eb5e00;
    border-radius: 5px;
    margin-left: -15px;
    margin-right: -15px;
    padding-bottom: 7px;
}
.pricemonitor-product-selection-single-group .form-row,
.pricemonitor-price-selection-single-group .form-row {
    padding-left: 15px;
    padding-right: 15px;
}
.pricemonitor-product-selection-single-group .pricemonitor-product-selectionremove-group,
.pricemonitor-price-selection-single-group .pricemonitor-price-selectionremove-group{
    position: absolute;
    top: 50%;
    right: 8px;
    transform: translateY(-50%);
    background: transparent;
    border: none;
    padding: 0;
    margin: 0;
    color: #253033;
}
.pricemonitor-product-selection-single-group .form-row:nth-child(2),
.pricemonitor-price-selection-single-group .form-row:nth-child(2) {
    justify-content: flex-end;
    padding: 5px 15px;
}
.pricemonitor-product-selection-single-group .form-row:nth-child(2) label,
.pricemonitor-price-selection-single-group .form-row:nth-child(2) label,
.pricemonitor-product-selection-single-group .form-row:nth-child(2) select,
.pricemonitor-price-selection-single-group .form-row:nth-child(2) select{
    width: auto;
    display: inline-block;
}
.pricemonitor-contract-main .pricemonitor-product-selection-single-group .form-row .input-wrapper,
.pricemonitor-contract-main .pricemonitor-price-selection-single-group .form-row .input-wrapper {
    padding-right: 10px;
}
.pricemonitor-contract-main .pricemonitor-product-selection-single-group .form-row .input-wrapper input,
.pricemonitor-contract-main .pricemonitor-price-selection-single-group .form-row .input-wrapper input,
.pricemonitor-contract-main .pricemonitor-product-selection-single-group .form-row .input-wrapper select,
.pricemonitor-contract-main .pricemonitor-price-selection-single-group .form-row .input-wrapper select{
    width: 100%;
}

.pricemonitor-contract-main .pricemonitor-product-selection-single-group .form-row .pricemonitor-product-selection-remove-expression,
.pricemonitor-contract-main .pricemonitor-price-selection-single-group .form-row .pricemonitor-price-selection-remove-expression,
.pricemonitor-contract-main .pricemonitor-product-selection-single-group .form-row .pricemonitor-product-selection-add-expression,
.pricemonitor-contract-main .pricemonitor-price-selection-single-group .form-row .pricemonitor-price-selection-add-expression{
    width: 35px;
    text-align: center;
    font-size: 16px;
    line-height: 14px;
    flex: 0 55px;
    box-sizing: border-box;
    padding-left: 0;
    padding-right: 0;
}
.pricemonitor-contract-main section#pricemonitor-product-selection .form-row .input-wrapper,
.pricemonitor-contract-main section#pricemonitor-price-selection .form-row .input-wrapper {
    max-width: 100%;
}

.pricemonitor-contract-main .pricemonitor-product-selection-single-group .form-row .pricemonitor-product-selection-add-expression,
.pricemonitor-contract-main .pricemonitor-price-selection-single-group .form-row .pricemonitor-price-selection-add-expression {
    line-height: 11px;
    padding-top: 4px;
}

.pricemonitor-filter-groups-wrapper > .form-row:last-child {
    justify-content: flex-end;
    margin-left: -15px;
    margin-right: 0;
}

.popover-wrapper {
    display: inline-block;
    margin-left: 5px;
    vertical-align: top;
    position: relative;
}
.popover-wrapper .popover-text {
    width: 200px;
    white-space: normal;
    text-align: left;
}
.popover-wrapper .popover-button {
    display: inline-block;
    border-radius: 50%;
    height: 19px;
    width: 19px;
    border: 1px solid #a9a9a9;
    line-height: 19px;
    text-align: center;
    color: #a9a9a9;
}
.popover-wrapper .popover-button:hover {
    cursor: help;
}
.popover-wrapper .popover {
    display: none;
    position: absolute;
    background: white;
    padding: 8px;
    border: 1px solid #a9a9a9;
    border-radius: 5px;
    box-shadow: 1px 1px 5px rgba(0,0,0,0.2);
    left: 29px;
    top: -7px;
}

.popover-wrapper .popover:after,
.popover-wrapper .popover:before {
    right: 100%;
    top: 15px;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}

.popover-wrapper .popover:after {
    border-color: rgba(0, 0, 0, 0);
    border-right-color: #ffffff;
    border-width: 6px;
    margin-top: -6px;
}
.popover-wrapper .popover:before {
    border-color: rgba(169, 169, 169, 0);
    border-right-color: #a9a9a9;
    border-width: 7px;
    margin-top: -7px;
}

.popover-wrapper .popover-button:hover + .popover {
    display: block;
    z-index: 10;
}

.select-multi {
    display: none;
    position: absolute;
    top: 20px;
    z-index: 1;
    left: 0;
    right: 5px;
    width: calc(100% - 10px) !important;
}

.select-multi option {
    padding: 2px 7px;
}

.select-multi.visible {
    display: block;
}

.pricemonitor-form-inline input {
    margin-right: 10px;
}

.pricemonitor-form-inline label {
    min-width: 70%;
}

.pricemonitor-header-warning {
    font-weight: bold;
    display: none;
}

.pricemonitor-header-error {
    font-weight: bold;
    display: none;
    color: #ff0000;
}

 section.pricemonitor-attributes-mapping .form-row .input-wrapper.filterable-dropdown-wrapper input {
     width: 100%;
 }

.pricemonitor-header-warning.visible,
.pricemonitor-header-error.visible {
    display: block;
}

.pricemonitor-header-warning .icon,
.pricemonitor-header-error .icon {
    display: inline-block;
    width: 28px;
    height: 28px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    overflow: hidden;
    position: relative;
    vertical-align: middle;
    margin-right: 10px;
    line-height: 22px;
}

.pricemonitor-header-warning .icon:before,
.pricemonitor-header-error .icon:before {
    content: " ";
    display: inline-block;
    position: absolute;
    top: -2px;
    left: -1px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 15px 24px 15px;
    border-color: transparent transparent #000 transparent;
    z-index: 1;
}

.pricemonitor-header-error .icon:before {
    border-color: transparent transparent #ff0000 transparent;
}

.pricemonitor-header-warning .icon:after,
.pricemonitor-header-error .icon:after {
    content: "!";
    display: inline-block;
    position: absolute;
    left: 0;
    top: 2px;
    font-weight: bold;
    width: 100%;
    font-size: 15px;
    text-align: center;
    color: #fff;
    z-index: 2;
}
#pricemonitor-product-selection-filters-preview {
    min-height: 340px;
}
#pricemonitor-product-selection-filters-preview fieldset {
    min-height: 345px;
}
#pricemonitor-product-selection-filters-preview table {
    table-layout: fixed;
}
#pricemonitor-product-selection-filters-preview table tbody td,
#pricemonitor-product-selection-filters-preview table tbody td span {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.container {
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
}

@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}

@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}

@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}

.container-fluid {
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
}

.row {
    margin-left: -15px;
    margin-right: -15px;
}

.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
    position: relative;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
}

.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12 {
    float: left;
}

.col-xs-12 {
    width: 100%;
}

.col-xs-11 {
    width: 91.66666667%;
}

.col-xs-10 {
    width: 83.33333333%;
}

.col-xs-9 {
    width: 75%;
}

.col-xs-8 {
    width: 66.66666667%;
}

.col-xs-7 {
    width: 58.33333333%;
}

.col-xs-6 {
    width: 50%;
}

.col-xs-5 {
    width: 41.66666667%;
}

.col-xs-4 {
    width: 33.33333333%;
}

.col-xs-3 {
    width: 25%;
}

.col-xs-2 {
    width: 16.66666667%;
}

.col-xs-1 {
    width: 8.33333333%;
}

.col-xs-pull-12 {
    right: 100%;
}

.col-xs-pull-11 {
    right: 91.66666667%;
}

.col-xs-pull-10 {
    right: 83.33333333%;
}

.col-xs-pull-9 {
    right: 75%;
}

.col-xs-pull-8 {
    right: 66.66666667%;
}

.col-xs-pull-7 {
    right: 58.33333333%;
}

.col-xs-pull-6 {
    right: 50%;
}

.col-xs-pull-5 {
    right: 41.66666667%;
}

.col-xs-pull-4 {
    right: 33.33333333%;
}

.col-xs-pull-3 {
    right: 25%;
}

.col-xs-pull-2 {
    right: 16.66666667%;
}

.col-xs-pull-1 {
    right: 8.33333333%;
}

.col-xs-pull-0 {
    right: auto;
}

.col-xs-push-12 {
    left: 100%;
}

.col-xs-push-11 {
    left: 91.66666667%;
}

.col-xs-push-10 {
    left: 83.33333333%;
}

.col-xs-push-9 {
    left: 75%;
}

.col-xs-push-8 {
    left: 66.66666667%;
}

.col-xs-push-7 {
    left: 58.33333333%;
}

.col-xs-push-6 {
    left: 50%;
}

.col-xs-push-5 {
    left: 41.66666667%;
}

.col-xs-push-4 {
    left: 33.33333333%;
}

.col-xs-push-3 {
    left: 25%;
}

.col-xs-push-2 {
    left: 16.66666667%;
}

.col-xs-push-1 {
    left: 8.33333333%;
}

.col-xs-push-0 {
    left: auto;
}

.col-xs-offset-12 {
    margin-left: 100%;
}

.col-xs-offset-11 {
    margin-left: 91.66666667%;
}

.col-xs-offset-10 {
    margin-left: 83.33333333%;
}

.col-xs-offset-9 {
    margin-left: 75%;
}

.col-xs-offset-8 {
    margin-left: 66.66666667%;
}

.col-xs-offset-7 {
    margin-left: 58.33333333%;
}

.col-xs-offset-6 {
    margin-left: 50%;
}

.col-xs-offset-5 {
    margin-left: 41.66666667%;
}

.col-xs-offset-4 {
    margin-left: 33.33333333%;
}

.col-xs-offset-3 {
    margin-left: 25%;
}

.col-xs-offset-2 {
    margin-left: 16.66666667%;
}

.col-xs-offset-1 {
    margin-left: 8.33333333%;
}

.col-xs-offset-0 {
    margin-left: 0;
}

@media (min-width: 768px) {
    .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
        float: left;
    }

    .col-sm-12 {
        width: 100%;
    }

    .col-sm-11 {
        width: 91.66666667%;
    }

    .col-sm-10 {
        width: 83.33333333%;
    }

    .col-sm-9 {
        width: 75%;
    }

    .col-sm-8 {
        width: 66.66666667%;
    }

    .col-sm-7 {
        width: 58.33333333%;
    }

    .col-sm-6 {
        width: 50%;
    }

    .col-sm-5 {
        width: 41.66666667%;
    }

    .col-sm-4 {
        width: 33.33333333%;
    }

    .col-sm-3 {
        width: 25%;
    }

    .col-sm-2 {
        width: 16.66666667%;
    }

    .col-sm-1 {
        width: 8.33333333%;
    }

    .col-sm-pull-12 {
        right: 100%;
    }

    .col-sm-pull-11 {
        right: 91.66666667%;
    }

    .col-sm-pull-10 {
        right: 83.33333333%;
    }

    .col-sm-pull-9 {
        right: 75%;
    }

    .col-sm-pull-8 {
        right: 66.66666667%;
    }

    .col-sm-pull-7 {
        right: 58.33333333%;
    }

    .col-sm-pull-6 {
        right: 50%;
    }

    .col-sm-pull-5 {
        right: 41.66666667%;
    }

    .col-sm-pull-4 {
        right: 33.33333333%;
    }

    .col-sm-pull-3 {
        right: 25%;
    }

    .col-sm-pull-2 {
        right: 16.66666667%;
    }

    .col-sm-pull-1 {
        right: 8.33333333%;
    }

    .col-sm-pull-0 {
        right: auto;
    }

    .col-sm-push-12 {
        left: 100%;
    }

    .col-sm-push-11 {
        left: 91.66666667%;
    }

    .col-sm-push-10 {
        left: 83.33333333%;
    }

    .col-sm-push-9 {
        left: 75%;
    }

    .col-sm-push-8 {
        left: 66.66666667%;
    }

    .col-sm-push-7 {
        left: 58.33333333%;
    }

    .col-sm-push-6 {
        left: 50%;
    }

    .col-sm-push-5 {
        left: 41.66666667%;
    }

    .col-sm-push-4 {
        left: 33.33333333%;
    }

    .col-sm-push-3 {
        left: 25%;
    }

    .col-sm-push-2 {
        left: 16.66666667%;
    }

    .col-sm-push-1 {
        left: 8.33333333%;
    }

    .col-sm-push-0 {
        left: auto;
    }

    .col-sm-offset-12 {
        margin-left: 100%;
    }

    .col-sm-offset-11 {
        margin-left: 91.66666667%;
    }

    .col-sm-offset-10 {
        margin-left: 83.33333333%;
    }

    .col-sm-offset-9 {
        margin-left: 75%;
    }

    .col-sm-offset-8 {
        margin-left: 66.66666667%;
    }

    .col-sm-offset-7 {
        margin-left: 58.33333333%;
    }

    .col-sm-offset-6 {
        margin-left: 50%;
    }

    .col-sm-offset-5 {
        margin-left: 41.66666667%;
    }

    .col-sm-offset-4 {
        margin-left: 33.33333333%;
    }

    .col-sm-offset-3 {
        margin-left: 25%;
    }

    .col-sm-offset-2 {
        margin-left: 16.66666667%;
    }

    .col-sm-offset-1 {
        margin-left: 8.33333333%;
    }

    .col-sm-offset-0 {
        margin-left: 0;
    }
}

@media (min-width: 992px) {
    .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
        float: left;
    }

    .col-md-12 {
        width: 100%;
    }

    .col-md-11 {
        width: 91.66666667%;
    }

    .col-md-10 {
        width: 83.33333333%;
    }

    .col-md-9 {
        width: 75%;
    }

    .col-md-8 {
        width: 66.66666667%;
    }

    .col-md-7 {
        width: 58.33333333%;
    }

    .col-md-6 {
        width: 50%;
    }

    .col-md-5 {
        width: 41.66666667%;
    }

    .col-md-4 {
        width: 33.33333333%;
    }

    .col-md-3 {
        width: 25%;
    }

    .col-md-2 {
        width: 16.66666667%;
    }

    .col-md-1 {
        width: 8.33333333%;
    }

    .col-md-pull-12 {
        right: 100%;
    }

    .col-md-pull-11 {
        right: 91.66666667%;
    }

    .col-md-pull-10 {
        right: 83.33333333%;
    }

    .col-md-pull-9 {
        right: 75%;
    }

    .col-md-pull-8 {
        right: 66.66666667%;
    }

    .col-md-pull-7 {
        right: 58.33333333%;
    }

    .col-md-pull-6 {
        right: 50%;
    }

    .col-md-pull-5 {
        right: 41.66666667%;
    }

    .col-md-pull-4 {
        right: 33.33333333%;
    }

    .col-md-pull-3 {
        right: 25%;
    }

    .col-md-pull-2 {
        right: 16.66666667%;
    }

    .col-md-pull-1 {
        right: 8.33333333%;
    }

    .col-md-pull-0 {
        right: auto;
    }

    .col-md-push-12 {
        left: 100%;
    }

    .col-md-push-11 {
        left: 91.66666667%;
    }

    .col-md-push-10 {
        left: 83.33333333%;
    }

    .col-md-push-9 {
        left: 75%;
    }

    .col-md-push-8 {
        left: 66.66666667%;
    }

    .col-md-push-7 {
        left: 58.33333333%;
    }

    .col-md-push-6 {
        left: 50%;
    }

    .col-md-push-5 {
        left: 41.66666667%;
    }

    .col-md-push-4 {
        left: 33.33333333%;
    }

    .col-md-push-3 {
        left: 25%;
    }

    .col-md-push-2 {
        left: 16.66666667%;
    }

    .col-md-push-1 {
        left: 8.33333333%;
    }

    .col-md-push-0 {
        left: auto;
    }

    .col-md-offset-12 {
        margin-left: 100%;
    }

    .col-md-offset-11 {
        margin-left: 91.66666667%;
    }

    .col-md-offset-10 {
        margin-left: 83.33333333%;
    }

    .col-md-offset-9 {
        margin-left: 75%;
    }

    .col-md-offset-8 {
        margin-left: 66.66666667%;
    }

    .col-md-offset-7 {
        margin-left: 58.33333333%;
    }

    .col-md-offset-6 {
        margin-left: 50%;
    }

    .col-md-offset-5 {
        margin-left: 41.66666667%;
    }

    .col-md-offset-4 {
        margin-left: 33.33333333%;
    }

    .col-md-offset-3 {
        margin-left: 25%;
    }

    .col-md-offset-2 {
        margin-left: 16.66666667%;
    }

    .col-md-offset-1 {
        margin-left: 8.33333333%;
    }

    .col-md-offset-0 {
        margin-left: 0;
    }
}

@media (min-width: 1200px) {
    .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
        float: left;
    }

    .col-lg-12 {
        width: 100%;
    }

    .col-lg-11 {
        width: 91.66666667%;
    }

    .col-lg-10 {
        width: 83.33333333%;
    }

    .col-lg-9 {
        width: 75%;
    }

    .col-lg-8 {
        width: 66.66666667%;
    }

    .col-lg-7 {
        width: 58.33333333%;
    }

    .col-lg-6 {
        width: 50%;
    }

    .col-lg-5 {
        width: 41.66666667%;
    }

    .col-lg-4 {
        width: 33.33333333%;
    }

    .col-lg-3 {
        width: 25%;
    }

    .col-lg-2 {
        width: 16.66666667%;
    }

    .col-lg-1 {
        width: 8.33333333%;
    }

    .col-lg-pull-12 {
        right: 100%;
    }

    .col-lg-pull-11 {
        right: 91.66666667%;
    }

    .col-lg-pull-10 {
        right: 83.33333333%;
    }

    .col-lg-pull-9 {
        right: 75%;
    }

    .col-lg-pull-8 {
        right: 66.66666667%;
    }

    .col-lg-pull-7 {
        right: 58.33333333%;
    }

    .col-lg-pull-6 {
        right: 50%;
    }

    .col-lg-pull-5 {
        right: 41.66666667%;
    }

    .col-lg-pull-4 {
        right: 33.33333333%;
    }

    .col-lg-pull-3 {
        right: 25%;
    }

    .col-lg-pull-2 {
        right: 16.66666667%;
    }

    .col-lg-pull-1 {
        right: 8.33333333%;
    }

    .col-lg-pull-0 {
        right: auto;
    }

    .col-lg-push-12 {
        left: 100%;
    }

    .col-lg-push-11 {
        left: 91.66666667%;
    }

    .col-lg-push-10 {
        left: 83.33333333%;
    }

    .col-lg-push-9 {
        left: 75%;
    }

    .col-lg-push-8 {
        left: 66.66666667%;
    }

    .col-lg-push-7 {
        left: 58.33333333%;
    }

    .col-lg-push-6 {
        left: 50%;
    }

    .col-lg-push-5 {
        left: 41.66666667%;
    }

    .col-lg-push-4 {
        left: 33.33333333%;
    }

    .col-lg-push-3 {
        left: 25%;
    }

    .col-lg-push-2 {
        left: 16.66666667%;
    }

    .col-lg-push-1 {
        left: 8.33333333%;
    }

    .col-lg-push-0 {
        left: auto;
    }

    .col-lg-offset-12 {
        margin-left: 100%;
    }

    .col-lg-offset-11 {
        margin-left: 91.66666667%;
    }

    .col-lg-offset-10 {
        margin-left: 83.33333333%;
    }

    .col-lg-offset-9 {
        margin-left: 75%;
    }

    .col-lg-offset-8 {
        margin-left: 66.66666667%;
    }

    .col-lg-offset-7 {
        margin-left: 58.33333333%;
    }

    .col-lg-offset-6 {
        margin-left: 50%;
    }

    .col-lg-offset-5 {
        margin-left: 41.66666667%;
    }

    .col-lg-offset-4 {
        margin-left: 33.33333333%;
    }

    .col-lg-offset-3 {
        margin-left: 25%;
    }

    .col-lg-offset-2 {
        margin-left: 16.66666667%;
    }

    .col-lg-offset-1 {
        margin-left: 8.33333333%;
    }

    .col-lg-offset-0 {
        margin-left: 0;
    }
}

.clearfix:before,
.clearfix:after,
.container:before,
.container:after,
.container-fluid:before,
.container-fluid:after,
.row:before,
.row:after {
    content: " ";
    display: table;
}

.clearfix:after,
.container:after,
.container-fluid:after,
.row:after {
    clear: both;
}

.pricemonitor-logo {
    width: 95%;
}

#anchor-content .main-col-inner .pricemonitor-landing {
    background-color: #ebedef;
    padding: 15px;
}

.pricemonitor-main-content * {
    box-sizing: border-box;
    font-family: sans-serif;
}

section {
    display: none;
    -ms-flex-direction: column;
    flex-direction: column;
    height: 100%;
}

section.visible {
    display: -ms-flexbox;
    display: flex;
}

section:empty {
    height: auto;
    padding: 0;
}

.pricemonitor-main-content fieldset {
    position: relative;
    padding: 25px 15px;
}

.pricemonitor-main-content fieldset h2 {
    margin: 0;
    position: absolute;
    left: 20px;
    top: -10px;
    background: white;
    padding: 0 5px;
    font-size: 14px;
}

#tabs li a:hover {
    cursor: pointer;
}

.pull-right {
    float: right;
}

.pull-left {
    float: left;
}

.btn-link {
    color: #7a8e9a;
    background: none;
    border: none;
    padding-left: 0;
    padding-right: 0;
}

.btn-link:hover {
    text-decoration: none;
}

.btn.pull-right {
    float: none;
}

.btn-default:hover {
    cursor: pointer;
}

.inline {
    text-align: left;
}

.pricemonitor-filterable-list {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    min-width: 300px;
    max-width: 100%;
    overflow: auto;
    max-height: 200px;
    background: white;
    z-index: 10;
    border: 1px solid #eb5e00;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3);
}

.pricemonitor-filterable-list li {
    color: black;
    display: block;
    text-indent: 2px;
}

.pricemonitor-filterable-list li.pricemonitor-list-group {
    font-weight: bold;
    text-transform: capitalize;
}

.pricemonitor-filterable-list li a {
    color: black;
    display: block;
    width: 100%;
    cursor: pointer;
    text-decoration: none;
    padding: 2px 7px;
}

.pricemonitor-filterable-list li:hover a,
.pricemonitor-filterable-list li.selected a {
    background: #eb5e00;
    color: white;
}

.pricemonitor-filterable-list.visible {
    display: block;
}

.pricemonitor-invalid {
    border-color: #ff0033 !important;
    border-width: 1px;
    border-style: solid;
}

.spinner {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0,0,0,0.5);
    z-index: 1000;
}

.spinner.visible {
    display: block;
}

.spinner-loader {
    position: absolute;
    top: 47%;
    left: 47%;
    color: #ffffff;
    font-size: 90px;
    text-indent: -9999em;
    overflow: hidden;
    width: 1em;
    height: 1em;
    border-radius: 50%;
    margin: 0 auto;
    -webkit-transform: translateY(-50%) translateX(-50%) translateZ(0);
    -ms-transform: translateY(-50%) translateX(-50%) translateZ(0);
    transform: translateY(-50%) translateX(-50%) translateZ(0);
    -webkit-animation: load6 1.7s infinite ease, round 1.7s infinite ease;
    animation: load6 1.7s infinite ease, round 1.7s infinite ease;
}
@-webkit-keyframes load6 {
    0% {
        box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
    }
    5%,
    95% {
        box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
    }
    10%,
    59% {
        box-shadow: 0 -0.83em 0 -0.4em, -0.087em -0.825em 0 -0.42em, -0.173em -0.812em 0 -0.44em, -0.256em -0.789em 0 -0.46em, -0.297em -0.775em 0 -0.477em;
    }
    20% {
        box-shadow: 0 -0.83em 0 -0.4em, -0.338em -0.758em 0 -0.42em, -0.555em -0.617em 0 -0.44em, -0.671em -0.488em 0 -0.46em, -0.749em -0.34em 0 -0.477em;
    }
    38% {
        box-shadow: 0 -0.83em 0 -0.4em, -0.377em -0.74em 0 -0.42em, -0.645em -0.522em 0 -0.44em, -0.775em -0.297em 0 -0.46em, -0.82em -0.09em 0 -0.477em;
    }
    100% {
        box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
    }
}
@keyframes load6 {
    0% {
        box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
    }
    5%,
    95% {
        box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
    }
    10%,
    59% {
        box-shadow: 0 -0.83em 0 -0.4em, -0.087em -0.825em 0 -0.42em, -0.173em -0.812em 0 -0.44em, -0.256em -0.789em 0 -0.46em, -0.297em -0.775em 0 -0.477em;
    }
    20% {
        box-shadow: 0 -0.83em 0 -0.4em, -0.338em -0.758em 0 -0.42em, -0.555em -0.617em 0 -0.44em, -0.671em -0.488em 0 -0.46em, -0.749em -0.34em 0 -0.477em;
    }
    38% {
        box-shadow: 0 -0.83em 0 -0.4em, -0.377em -0.74em 0 -0.42em, -0.645em -0.522em 0 -0.44em, -0.775em -0.297em 0 -0.46em, -0.82em -0.09em 0 -0.477em;
    }
    100% {
        box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
    }
}
@-webkit-keyframes round {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@keyframes round {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

.pricemonitor-tg {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    border-color: #ccc;
    margin: 0 auto;
}

.pricemonitor-tg-responsive .column-width-0 {
    width: 30px;
}

.pricemonitor-tg-responsive .column-width-1 {
    width: 10%;
}

.pricemonitor-tg-responsive .column-width-2 {
    width: 20%;
}

.pricemonitor-tg-responsive .column-width-3 {
    width: 30%;
}

.pricemonitor-tg-responsive td {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 200px;
}

@media screen and (max-width: 767px) {
    .pricemonitor-tg {
        width: auto !important;
    }

    .pricemonitor-tg col {
        width: auto !important;
    }

    .pricemonitor-tg-responsive {
        overflow-x: auto;
        -webkit-overflow-scrolling: touch;
        margin: auto 0;
    }
}

.pricemonitor-modal {
    display: none;
    position: fixed;
    z-index: 110;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
}

.pricemonitor-modal.visible {
    display: block;
}

.pricemonitor-modal-header {
    min-height: 25px;
    clear: both;
}

.pricemonitor-modal-header h1 {
    width: auto;
    float: left;
}

.pricemonitor-message-modal {
    clear: both;
}

.pricemonitor-modal-title {
    font-weight: bold;
    font-size: 1.5em;
}

.pricemonitor-modal-footer {
    text-align: right;
    padding: 5px 0;
}

.pricemonitor-modal-content {
    width: 20%;
    padding: 20px;
    position: absolute;
    border: 1px solid #888;
    background-color: white;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation-name: animatetop;
    animation-duration: 0.4s;
    overflow-y: auto;
    max-height: 80%;
}

.pricemonitor-modal-content.html-modal {
    height: 80%;
}

.pricemonitor-modal-content.size-m {
    width: 30%;
}

.pricemonitor-modal-content.size-l {
    width: 40%;
}

.pricemonitor-modal-content.size-xl {
    min-width: 800px;
    width: 50%;
}

.pricemonitor-modal-content.size-xxl {
    width: 60%;
}

.pricemonitor-modal.pricemonitor-info-sticker {
    z-index: 101;
}

.pricemonitor-modal.pricemonitor-info-sticker .pricemonitor-modal-content {
    top: 0;
    transform: translate(-50%, 0);
    padding: 10px 20px;
    width: 100%;
    animation: animateTotop;
    animation-duration: 0.4s;
    box-sizing: border-box;
}

.pricemonitor-success-message .pricemonitor-modal-content {
    color: #3c763d;
    background-color: #dff0d8;
    border-color: #d6e9c6;
}

.pricemonitor-error-message .pricemonitor-modal-content {
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
}

@keyframes animatetop {
    from {
        top: -300px;
        opacity: 0
    }
    to {
        top: 50%;
        opacity: 1
    }
}

@keyframes animateTotop {
    from {
        top: -300px;
        opacity: 0
    }
    to {
        top: 0;
        opacity: 1
    }
}

span.pricemonitor-modal-close {
    color: #aaa;
    float: right;
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 10px;
}

span.pricemonitor-modal-close:hover,
span.pricemonitor-modal-close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.pricemonitor-pagination {
    text-align: right;
    margin: 10px 0;
}

.pricemonitor-hidden {
    display: none;
}
.pricemonitor-filter-groups-wrapper .pricemonitor-price-selection-single-group-wrapper:first-child > .form-row select,
.pricemonitor-filter-groups-wrapper .pricemonitor-product-selection-single-group-wrapper:first-child > .form-row select,
.pricemonitor-filter-groups-wrapper .form-row:first-child + .pricemonitor-price-selection-single-group-wrapper > .form-row select,
.pricemonitor-filter-groups-wrapper .form-row:first-child + .pricemonitor-product-selection-single-group-wrapper > .form-row select {
    pointer-events: none;
    visibility: hidden;
    padding: 0;
    margin: 0;
    width: 0;
    height: 0;
    border: none;
    position: absolute;
}

form .form-row :focus {
    border: 1px solid #f77c16;
}

#pricemonitor-auth-form input:focus {
    border-width: 2px;
    border-style: inset;
}

form .form-row button:focus {
    background: #f77c16  url("../../../../adminhtml/default/default/images/btn_over_bg.gif") repeat-x 0 0;
}

.pricemonitor-last-export, .pricemonitor-last-import {
    margin-top: 5px;
}

.pricemonitor-last-export strong, .pricemonitor-last-import strong {
    font-size: 14px;
}